<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Notícias</title>
		</head>
	<body>

		<h1>Notícias</h1>
		<ul>
			<% for (var i = 0; i < noticias.length; i++) {%>
				<li><%= noticias[i].titulo %></li>
			<%}%>
		</ul>
	</body>
</html>
